        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

        body{margin: 0;
            padding: 0;
            background-color: #dce0e4;
            font-family: 'Poppins', sans-serif;
            transition: .8s;
            
        }
        .main-navbar{width: 100%;
            height: 60px;
            background-color: white;
            display: flex;
            position: fixed;
            top: 0;
            transition: .8s;
        }
        .nav-logo{margin:14px 20px;

        }
        .item-link{display: flex;
            list-style: none;
            gap:50px;
            margin-left: 30px;
            width: 80%;
        }
        .item-link a{text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .btn-container{display: flex;
            align-items: center;
            gap:60px;
            width: 100%;
            justify-content: end;
            
        }
        .btn-contact-nav{background-color: rgb(0, 0, 0);
            color: whitesmoke;
            padding: 9px 18px;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            font-size: 15px;
            transition: 300ms;
            margin-right: 20px;
        }
        .btn-contact-nav:hover{background-color: orangered;
                    
        }

        /* FORM */
        .title-form{text-align: center;
            margin-top: 100px;
            font-size: 36px;
            font-weight: bold;
        }
        .main-form{width: 500px;
            height: 600px;
            margin: 0 auto;
            display: block;
        }

        input{width: 100%;
            border-radius: 5px;
            height: 40px;
            border: none;
            padding-left: 5px;
            margin-bottom: 15px;
            box-shadow: 0 3px 5px #bcbcbc;
            font-size: 16px;
        }
        input:hover{background-color: white;}
        select{width: 101.5%;
            border-radius: 5px;
            height: 40px;
            font-size: 14px;
            margin-bottom: 15px;
            border: none;
            box-shadow: 0 3px 5px #bcbcbc;
        }
        textarea{resize: none;
            width: 100%;
            border-radius: 5px;
            height: 120px;
            border: none;
            padding: 5px ;
            margin-bottom: 5px;
            box-shadow: 0 3px 5px #bcbcbc;
            font-size: 14px;

        }
        label{font-weight: bold;
            
        }
        .btn-form{text-align: end;

        }
        .btn-submit{background-color: rgb(0, 0, 0);
            color: whitesmoke;
            padding: 6px 15px;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            font-size: 14px;
            transform: translateX(10px);
            padding-top: 7px;
            transition: 300ms;
        }
        .btn-submit:hover{background-color: orangered;
                    
        }
/* DARK MODE */
        body.open{background-color: #2b2b2b;}
        .open.main-navbar{background-color: #2e2e2e;
            box-shadow: 0 1px 10px rgb(89, 89, 89);
        }
        .open .item-link a{text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }
        .open .item-link li a.active{color: #ffffff;}
        .dark-mode{
            border: none;
            border-radius: 20px;
            padding: 5px 10px;
            background-color: #ffffff;
            font-size: 20px;
            cursor: pointer;
            text-shadow: 1px 3px 25px whitesmoke;
        }
        .open .title-form{color: whitesmoke;
        }
        .open label{color: whitesmoke;
        }
        .open input,.open select,.open textarea{box-shadow: none;
            background-color: #d6d6d6;
        }
        .open .btn-contact-nav{background-color: orangered;
        }
        .open .btn-contact-nav:hover{background-color: #ffffff;
            color: black;
        }
        .open .btn-submit{background-color: orangered;
        }
        .open .btn-submit:hover{background-color: #ffffff;
            color: black;
        }
        .open #icon-dark-mode{display: none;}
        #dark-moon{display: none;}
        .open #dark-moon{display: flex;}
    /* RESPONSIVE */
        .burger-menu{
            margin-right: 20px;
            font-size: 32px;
            cursor: pointer;
            margin-top: 8px;
            display: none;
            transition: .5s;
            }
        .dropdown-menu{
            width: 100%;
            height: 120px;
            background-color: #929292f2;
            margin-top: 60px;
            font-weight: bold;
            line-height: 30px;
            display: none;
            color: white;
            padding-left: -50px;
            transition: .5s;
        }
        .dropdown-menu .rows{
            margin-left: -60px;
            border: 1px solid rgb(220, 224, 228);}
        .rows a{margin-left: 60px;}
        .dropdown-menu li,.dropdown-menu a{
            list-style-type: none;
            text-decoration: none;
            text-align: center;
            color: inherit;
            
        }
    .active-drp{background-color: orangered;
        margin-left: -120px;
    }
    .active-drp a{margin-left: 120px;}

        @media only screen and (max-width:900px){
            .item-link li a{display: none;}
            .btn-container button{display: none;}
            .burger-menu{display: block;}
            .btn-container .dark-mode{display: block;}
        }
        /*  */
        @media only screen and (max-width:430px){
            .main-form{width: 315px;}
        }