@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{margin: 0;
    padding: 0;
    background-color: #dce0e4;
    font-family: 'Poppins', sans-serif;
    transition: .8s;
    
}
/* NAV BAR BT */

nav .container-fluid{
    height: 64px;
}
.offcanvas-end{
    width: 100% !important;
}
.link-active{
    color: #c100e3 !important;
}
.bi-bootstrap-fill{
    font-size: 32px;
    background-color: transparent;
    color:#b200d6;
    transform: translateY(-12px);
}
.gap-5{
    transform: translateY(20px);
}
.btn-primary{
    transform: translateY(-34px);
    background-color: #e345ff;
    border: none;
}
.toggle{
    border: 2px solid #d400ff;
    width: 50px;
    height: 24px;
    border-radius: 10px;
    position: relative;
    background-color: #d400ff;
    cursor: pointer;
}
.toggle::before{
    content: "";
    margin-left: -.4px;
    width: 20px;
    height: 95%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    left: 1.6px;
    top: .6px;
    transition: .5s;
}
.fa-moon{
    font-size: 20px;
    color: white;
    margin-left: 27px;
}
.toggle .ri-sun-fill{
    font-size: 20px;
    color: white !important;
    position: absolute;
    top: -4px;
    left: 1.3px;
}
.active-toggle.toggle::before{
    transform: translateX(24px);
    background-color: rgb(255, 255, 255);   
}
.burger-x{
    cursor: pointer;
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
    transform: translateY(-50px)translateX(16px);
    display: none;
}
.burger-x .burger-line1,.burger-line2,.burger-line3{
    width: 38px;
    height: 4.4px;
    background-color: black;
    border-radius: 3px;
}
.span-element{
    width: 100%;    
}
.span-element hr{
    width: 200px;
}
#close-burgerX{
    cursor: pointer;
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
    margin-top: -48px;
    transform: translateY(-20px)translateX(-10px);
}
#close-burgerX .burger-line1,.burger-line2,.burger-line3{
    width: 38px;
    height: 4.4px;
    background-color: black;
    border-radius: 3px;
    transition: 2.3s;
}
.close__x .burger-line1  {
    transform: rotate(-43deg)translateY(10px)translateX(-6px);
    box-shadow: 0 15px 50px #b700ff;
}
.close__x .burger-line3{
    transform: rotate(45deg)translateY(-10px)translateX(-8px) !important;
    box-shadow: 0 15px 50px #b700ff;
}
.close__x .burger-line2{
    transform: translateX(-600px);
    background-color: transparent;
    box-shadow: transparent;
    
}


/* NAV DARK */
body.dark__mode.open-dark {
    background-color:#2b2b2b
}
.open-dark nav .container-fluid{
    background-color: #dce0e4 !important;
}
.open-dark .offcanvas-end{
    background-color: #2b2b2b !important;
}
.open-dark #close-burgerX .burger-line1,.open-dark #close-burgerX .burger-line2,.open-dark #close-burgerX .burger-line3{
    background-color: white !important;
}
.open-dark #close-burgerX .burger-line2{
    transform: translateX(-900px) !important;
}
.open-dark .span-element a{
    color: white !important;
}
.open-dark #sizing-adjust{
    box-shadow: none;
}
.open-dark .header-title, .open-dark .article{
    color: white;
}
/* SECTION */
.header-title{font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
.first-main-blog{display: grid;
    grid-template-columns: auto;
}
.main-container{width:80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    gap: 50px;
    border-radius: 5px;
}
.container-photo{width: 60%;
    height: 500px;
}
.image-blog{width: 100%;
    height: 80%;
}
.detailed-product{width: 35%;
    height: 500px;
    line-height: 40px;
}
.detailed-product strong{margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}
.wrap-tech{display: grid;
    grid-template-columns: auto auto;
}
.article{width: 80%;
height: 900px;
margin: 0 auto;
font-weight: bold;
text-align: justify;
}
@media (max-width:900px){
    .d-flex a.nav-link{display: none;}
            #burgerX{
                display: grid;
            }
            .text-end .btn-primary{
                transform: scale(0);
            }
            .d-flex .toggle{
                margin: 0 auto;
            }
            .container-form{
            width: 60%;
            }
}