        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

        body{margin: 0;
            padding: 0;
            background-color: #dce0e4;
            font-family: 'Poppins', sans-serif;
            transition: .8s;

        }
        /* NAV USING BOOTSTRAP */
        nav .container-fluid{
            height: 64px;
        }
        .offcanvas-end{
            width: 100% !important;
        }
        .link-active{
            color: #c100e3;
        }
        .bi-bootstrap-fill{
            font-size: 32px;
            background-color: transparent;
            color:#b200d6;
            transform: translateY(-13px);
        }
        .gap-5{
            transform: translateY(20px);
        }
        .btn-primary{
            transform: translateY(-32px);
            background-color: #e345ff;;
            border: none;
        }
        .toggle{
            border: 2px solid #d400ff;
            width: 50px;
            height: 24px;
            border-radius: 10px;
            position: relative;
            background-color: #d400ff;
            cursor: pointer;
        }
        .toggle::before{
            content: "";
            margin-left: -.4px;
            width: 20px;
            height: 95%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            border-radius: 50%;
            left: 1.6px;
            top: .6px;
            transition: .5s;
        }
        .fa-moon{
            font-size: 20px;
            color: white;
            margin-left: 27px;
        }
        .toggle .ri-sun-fill{
            font-size: 20px;
            color: white !important;
            position: absolute;
            top: -4px;
            left: 1.3px;
        }
        .active-toggle.toggle::before{
            transform: translateX(24px);
            background-color: rgb(255, 255, 255);   
        }
        .burger-x{
            cursor: pointer;
            display: grid;
            grid-template-columns: auto;
            row-gap: 8px;
            transform: translateY(-50px)translateX(16px);
            display: none;
        }
       .burger-x .burger-line1,.burger-line2,.burger-line3{
            width: 38px;
            height: 4.4px;
            background-color: black;
            border-radius: 3px;
        }
        .span-element{
            width: 100%;    
        }
        .span-element hr{
            width: 200px;
        }
        #close-burgerX{
            cursor: pointer;
            display: grid;
            grid-template-columns: auto;
            row-gap: 8px;
            margin-top: -48px;
            transform: translateY(-20px)translateX(-10px);
        }
        #close-burgerX .burger-line1,.burger-line2,.burger-line3{
            width: 38px;
            height: 4.4px;
            background-color: black;
            border-radius: 3px;
            transition: 2.3s;
        }
        .close__x .burger-line1  {
            transform: rotate(-43deg)translateY(10px)translateX(-6px);
            box-shadow: 0 15px 50px #b700ff;
        }
        .close__x .burger-line3{
            transform: rotate(45deg)translateY(-10px)translateX(-8px) !important;
            box-shadow: 0 15px 50px #b700ff;
        }
        .close__x .burger-line2{
            transform: translateX(-600px);
            background-color: transparent;
            box-shadow: transparent;
            
        }
        #select{
            width: 100%;
        }
        @media (max-width:900px){
           
            .d-flex a.nav-link{display: none;}
            #burgerX{
                display: grid;
            }
            .text-end .btn-primary{
                transform: scale(0);
            }
            .d-flex .toggle{
                margin: 0 auto;
            }
        }
        @media (max-width:430px){
            .main-form{
                width: 300px !important;
            }
        }
        /* DARK BOOTSR */
        body.dark__mode.open-dark {
            background-color:#2b2b2b
        }
        .open-dark input,.open-dark select,.open-dark textarea{
            box-shadow: none;
            background-color: #f2f2f2;
        }
        .open-dark .title-form,.open-dark label{
            color: white;
        }
        .open-dark .btn-submit:hover{
            background-color: white;
            color: black;
        }
        /* NAV DARK */
        .open-dark nav .container-fluid{
            background-color: #dce0e4 !important;
        }
        .open-dark .offcanvas-end{
            background-color: #2b2b2b !important;
        }
        .open-dark #close-burgerX .burger-line1,.open-dark #close-burgerX .burger-line2,.open-dark #close-burgerX .burger-line3{
            background-color: white !important;
        }
        .open-dark #close-burgerX .burger-line2{
            transform: translateX(-600px) !important;
            transition: .4s;
            box-shadow: 1px 2px 20px rgb(0, 255, 0);
        }
        .open-dark .span-element a{
            color: white !important;
        }
        /* .open-dark .d-flex a{
            color: rgba(255, 255, 255, 0.905) !important;
        } */






        /* .main-navbar{width: 100%;
            height: 60px;
            background-color: white;
            display: flex;
            position: fixed;
            top: 0;
            transition: .8s;
        }
        .nav-logo{margin:14px 20px;

        }
        .item-link{display: flex;
            list-style: none;
            gap:50px;
            margin-left: 30px;
            width: 80%;
        }
        .item-link a{text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .btn-container{display: flex;
            align-items: center;
            gap:60px;
            width: 100%;
            justify-content: end;
            
        }
        .btn-contact-nav{background-color: rgb(0, 0, 0);
            color: whitesmoke;
            padding: 9px 18px;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            font-size: 15px;
            transition: 300ms;
            margin-right: 20px;
        }
        .btn-contact-nav:hover{background-color: orangered;
                    
        } */

        /* FORM */
        .title-form{text-align: center;
            margin-top: 50px;
            font-size: 36px;
            font-weight: bold;
        }
        .main-form{width: 500px;
            height: 600px;
            margin: 0 auto;
            display: block;
        }

        input{width: 100%;
            border-radius: 5px;
            height: 40px;
            border: none;
            padding-left: 5px;
            margin-bottom: 15px;
            box-shadow: 0 3px 5px #bcbcbc;
            font-size: 16px;
        }
        input:hover{background-color: white;}
        select{width: 101.5%;
            border-radius: 5px;
            height: 40px;
            font-size: 14px;
            margin-bottom: 15px;
            border: none;
            box-shadow: 0 3px 5px #bcbcbc;
        }
        textarea{resize: none;
            width: 100%;
            border-radius: 5px;
            height: 120px;
            border: none;
            padding: 5px ;
            margin-bottom: 5px;
            box-shadow: 0 3px 5px #bcbcbc;
            font-size: 14px;

        }
        label{font-weight: bold;
            
        }
        .btn-form{text-align: end;

        }
        .btn-submit{background-color: #b700ff;
            color: whitesmoke;
            padding: 6px 15px;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            font-size: 14px;
            transform: translateX(10px);
            padding-top: 7px;
            transition: 300ms;
        }
        .btn-submit:hover{background-color: rgb(0, 0, 0);
                    
        }
/* DARK MODE */
        /* body.open{background-color: #2b2b2b;}
        .open.main-navbar{background-color: #2e2e2e;
            box-shadow: 0 1px 10px rgb(89, 89, 89);
        }
        .open .item-link a{text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }
        .open .item-link li a.active{color: #ffffff;}
        .dark-mode{
            border: none;
            border-radius: 20px;
            padding: 5px 10px;
            background-color: #ffffff;
            font-size: 20px;
            cursor: pointer;
            text-shadow: 1px 3px 25px whitesmoke;
        }
        .open .title-form{color: whitesmoke;
        }
        .open label{color: whitesmoke;
        }
        .open input,.open select,.open textarea{box-shadow: none;
            background-color: #d6d6d6;
        }
        .open .btn-contact-nav{background-color: orangered;
        }
        .open .btn-contact-nav:hover{background-color: #ffffff;
            color: black;
        }
        .open .btn-submit{background-color: orangered;
        }
        .open .btn-submit:hover{background-color: #ffffff;
            color: black;
        }
        .open #icon-dark-mode{display: none;}
        #dark-moon{display: none;}
        .open #dark-moon{display: flex;} */
    /* RESPONSIVE */
        /* .burger-menu{
            margin-right: 20px;
            font-size: 32px;
            cursor: pointer;
            margin-top: 8px;
            display: none;
            transition: .5s;
            }
        .dropdown-menu{
            width: 100%;
            height: 120px;
            background-color: #929292f2;
            margin-top: 60px;
            font-weight: bold;
            line-height: 30px;
            display: none;
            color: white;
            padding-left: -50px;
            transition: .5s;
        }
        .dropdown-menu .rows{
            margin-left: -60px;
            border: 1px solid rgb(220, 224, 228);}
        .rows a{margin-left: 60px;}
        .dropdown-menu li,.dropdown-menu a{
            list-style-type: none;
            text-decoration: none;
            text-align: center;
            color: inherit;
            
        }
    .active-drp{background-color: orangered;
        margin-left: -120px;
    }
    .active-drp a{margin-left: 120px;}

        @media only screen and (max-width:900px){
            .item-link li a{display: none;}
            .btn-container button{display: none;}
            .burger-menu{display: block;}
            .btn-container .dark-mode{display: block;}
        }
        @media only screen and (max-width:430px){
            .main-form{width: 315px;}
        } */