@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body{margin: 0;
    padding: 0;
    background-color: #dce0e4;
    font-family: 'Poppins', sans-serif;
    transition: .8s;
    height: 2000px;
    
}
/* NAV BAR BT */

nav .container-fluid{
    height: 64px;
}
.offcanvas-end{
    width: 100% !important;
}
.link-active{
    color: #c100e3 !important;
}
.bi-bootstrap-fill{
    font-size: 32px;
    background-color: transparent;
    color:#b200d6;
    transform: translateY(-12px);
}
.gap-5{
    transform: translateY(20px);
}
.btn-primary{
    transform: translateY(-34px);
    background-color: #e345ff;
    border: none;
}
.toggle{
    border: 2px solid #d400ff;
    width: 50px;
    height: 24px;
    border-radius: 10px;
    position: relative;
    background-color: #d400ff;
    cursor: pointer;
}
.toggle::before{
    content: "";
    margin-left: -.4px;
    width: 20px;
    height: 95%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    left: 1.6px;
    top: .6px;
    transition: .5s;
}
.fa-moon{
    font-size: 20px;
    color: white;
    margin-left: 27px;
}
.toggle .ri-sun-fill{
    font-size: 20px;
    color: white !important;
    position: absolute;
    top: -4px;
    left: 1.3px;
}
.active-toggle.toggle::before{
    transform: translateX(24px);
    background-color: rgb(255, 255, 255);   
}
.burger-x{
    cursor: pointer;
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
    transform: translateY(-50px)translateX(16px);
    display: none;
}
.burger-x .burger-line1,.burger-line2,.burger-line3{
    width: 38px;
    height: 4.4px;
    background-color: black;
    border-radius: 3px;
}
.span-element{
    width: 100%;    
}
.span-element hr{
    width: 200px;
}
#close-burgerX{
    cursor: pointer;
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
    margin-top: -48px;
    transform: translateY(-20px)translateX(-10px);
}
#close-burgerX .burger-line1,.burger-line2,.burger-line3{
    width: 38px;
    height: 4.4px;
    background-color: black;
    border-radius: 3px;
    transition: 2.3s;
}
.close__x .burger-line1  {
    transform: rotate(-43deg)translateY(10px)translateX(-6px);
    box-shadow: 0 15px 50px #b700ff;
}
.close__x .burger-line3{
    transform: rotate(45deg)translateY(-10px)translateX(-8px) !important;
    box-shadow: 0 15px 50px #b700ff;
}
.close__x .burger-line2{
    transform: translateX(-600px);
    background-color: transparent;
    box-shadow: transparent;
    
}


/* NAV DARK */
body.dark__mode.open-dark {
    background-color:#2b2b2b
}
.open-dark nav .container-fluid{
    background-color: #dce0e4 !important;
}
.open-dark .offcanvas-end{
    background-color: #2b2b2b !important;
}
.open-dark #close-burgerX .burger-line1,.open-dark #close-burgerX .burger-line2,.open-dark #close-burgerX .burger-line3{
    background-color: white !important;
}
.open-dark #close-burgerX .burger-line2{
    transform: translateX(-900px) !important;
}
.open-dark .span-element a{
    color: white !important;
}
.open-dark #sizing-adjust{
    box-shadow: none;
}
.open-dark .container-form label,.open-dark .header-title,.open-dark span{
    color: white;
}
.open-dark #name,.open-dark #email,.open-dark #textarea .open-dark #start-date .open-dark #end-date{
    box-shadow: none;
}
/* SECTION */

.container-form{width: 40%;
    height: 600px;
    margin: 0 auto;
    line-height: 40px;
}

#name,#start-date,#end-date{width: 100%;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    height: 36px;
    box-shadow: 0 1px 6px #ababab;
    margin-bottom: 13px;
    padding-left: 10px;
}
#start-date,#end-date{padding-right: 8px;
height: 38px;
box-shadow: 0 1px 6px #ababab;
font-family: 'Poppins', sans-serif;
}
label{font-weight: bold;
}
textarea{resize: none;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    box-shadow: 0 1px 6px #ababab;
}
.date{display: flex;
    background-color: salmon;
}
.date-label{display: flex;
    gap:39%;
}
.date-input{display: flex;
    gap:20px;
}
#react,#angular,#node,#vue{border: none;
    height: 15px;
    width: 15px;
    
}
#vue{margin-left: 70px;}
#angular{margin-left: 75px;}
#for-upload{
    width: 100%;
}
.file{width: 100%;
    height: 40px;
    box-shadow: 0 1px 6px #ababab;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: -99;
}
#input-file{
    margin-left: -133px;
    padding-right: 20px;
    font-size: 16px;
    background-color: transparent;
}
/* .file img{
    transform: translateX(449px)translateY(0) rotate(45deg);
} */
.file strong{padding: 8px 15px 9px 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    color: rgb(49, 49, 49);
    position: relative;
    background-color: rgb(215, 215, 215);
}
.btn-submit{text-align: end;
    
}
.btn-submit button{border-radius: 10px;
    background-color: #e345ff;
    color: white;
    padding: 0 25px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.btn-submit button:hover{background-color: orangered;
    transition: .4s;
}
@media (max-width:900px){
    .d-flex a.nav-link{display: none;}
            #burgerX{
                display: grid;
            }
            .text-end .btn-primary{
                transform: scale(0);
            }
            .d-flex .toggle{
                margin: 0 auto;
            }
            .container-form{
            width: 60%;
            }
}
@media (max-width:430px){
    .container-form{
        width: 80%;
    }
}
/* CARD */

.card-main-container{display: grid;
grid-template-columns: auto auto auto;
margin-top: 50px;
}
.card1,.card2,.card3,.card4,.card5{
width: 430px;
height: 580px;
background-color: whitesmoke;
margin: 0 auto;
margin-bottom: 60px;
border-radius: 5px;
box-shadow: 0 5px 10px #757575b8;
/* overflow: hidden; */
}
.content-card1{width: 95%;
height: 95%;
background-color: whitesmoke;
margin:10px auto;

}
.title-card{margin: 0 0;
}
.title-card a{color: inherit;
text-decoration: none;
}
.image2{width: 100%;
height: 50%;
border-radius: 5px;
}
.paragraf {text-align: justify;
font-size: 15px;
margin: 0 0;
}

.icon-card{font-size: 23px;
display: flex;
gap:20px;
margin-top: 22px;
transform: translateY(25px);
}
.btn-card{display: flex;
gap: 13px;
}
.btn-card button{width: 100%;
border-radius: 5px;
border: none;
padding: 10px 10px;
color: white;
background-color: black;
font-size: 14px;
cursor: pointer;
margin-top: 40px;
}
.btn-card button:hover{background-color: orangered;
color: white;
}